<h1><%= @lot.name %></h1>

<div class="membership-form">
  <%= form_for [@lot, @membership] do |f| %>

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>

    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>

    <%= f.submit %>

  <%end%>
</div>

<div class="pull-left map">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@lot.latitude}%2C#{@lot.longitude}" %>
</div>